:root { 
--light_blue_A400:#00c6fb; 
--light_blue_50_a5:#d0ebffa5; 
--light_blue_501:#0d99ff; 
--light_blue_500:#009aff; 
--light_blue_400:#1abcfe; 
--black_900_3f:#0000003f; 
--gray_50:#f7f8fa; 
--black_900_1e:#0000001e; 
--green_A400:#0acf83; 
--pink_A200:#ff24bd; 
--green_A700:#14ae5c; 
--black_900:#000000; 
--deep_orange_600:#f24e1e; 
--blue_700_e5:#005beae5; 
--light_blue_A700:#007be5; 
--deep_orange_300:#ff7262; 
--light_blue_50_59:#d0ebff59; 
--deep_purple_A200:#a259ff; 
--red_A700:#ec0000; 
--gray_600:#7d7676; 
--gray_301:#dadada; 
--black_900_e5:#000000e5; 
--gray_302:#e6e6e6; 
--blue_700:#005bea; 
--gray_800:#444444; 
--gray_900:#1e1e1e; 
--gray_801:#383838; 
--light_blue_50:#d0ebff; 
--gray_200:#e9e9ea; 
--gray_300:#e5e5e5; 
--bluegray_900:#2c2c2c; 
--gray_300_7c:#e5e5e57c; 
--light_blue_A400_e5:#00c6fbe5; 
--bluegray_500:#667799; 
--white_A700:#ffffff; 
}